<div class="page" data-name="contact">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner sliding">
         <div class="left">
           <a href="" data-panel="left"  onclick="showMenu()" class="link panel-close">
             <i class="app-icon icon-menu white">&#xf0c9;</i>
             <span class="ios-only white">Menu</span>
           </a>
         </div>
         <div class="title">M-PLAY</div>
         <div class="right">
           <a href="/search/" class="link">
             <i class="app-icon icon-search white">&#xe800;</i>
             <span class="ios-only white">Buscar</span>
           </a>
         </div>
       </div>
    </div>

    <div class="registro">
      <div class="titulo">CONTACT</div>
      <div class="box">
        <input type="text" name="name" id="ctc_nombre" placeholder="Name" />
      </div>
      <div class="box">
        <input type="text" name="email" id="ctc_email" placeholder="Email" />
      </div>
      <div class="box">
        <input type="text" name="subject" id="ctc_asunto" placeholder="Subject" />
      </div>
      <div class="box">
        <input type="text" name="message" id="ctc_mensaje" placeholder="Message" />
      </div>
      <button class="col button button button-raised button-fill boton red" onclick="app.ContactoUser()"id="contact">
        <i class="demo-icon icon-paper-plane">&#xf1d8;</i>Send
      </button>
    </div>

    <div class="page-content">
      <div class="block"></div>
    </div>
    
  </div>
</div>
