<div class="page" data-name="search">

    <div class="navbar">
      <div class="navbar-inner sliding">
         <div class="left">
           <a href="" data-panel="left"  onclick="showMenu()" class="link panel-close">
             <i class="app-icon icon-menu white">&#xf0c9;</i>
             <span class="ios-only white">Menu</span>
           </a>
         </div>
         <div class="title">M-PLAY</div>

         <div class="subnavbar">
        <!-- Searchbar with auto init -->
          <div class="searchbar">
            <div class="searchbar-inner">
              <div class="searchbar-input-wrap">
                <input type="search" placeholder="Search" id="search" />
                <i class="searchbar-icon"></i>
                <span class="input-clear-button"></span>
              </div>
              <span class="searchbar-disable-button">Cancel</span>
            </div>
          </div>
      </div>

         <div class="right">
           <a href="/search/" class="link">
             <i class="app-icon icon-search white">&#xe800;</i>
             <span class="ios-only white">Buscar</span>
           </a>
         </div>
       </div>
    </div>

    <div class="page-content">
      <div class="block">
        <div class="list media-list">
          <ul id="list-search"> </ul>
        </div>
      </div>
    </div>

  </div>
